# CatSense AI — .gitignore

# Dependencies
node_modules/
dist/
.venv/
vh/
bin/
/lib/
share/
include/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Environments & Secrets
.env
.env.local
.env.*.local
.env.enc
.env.example

# OS files
.DS_Store
Thumbs.db

# Large Assets
datasets/
outputs/
research/outputs/
*.keras
*.mp3
*.jpeg
*.jpeg
# *.png (Allowing images for UI)

# Models (Weights)
# We ignore the large files and directories, and allow only essential .pkl ones
models/weights/
!models/weights/
models/weights/*/
models/weights/*.keras
!models/weights/*.pkl
!models/weights/label_encoder.pkl

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
